# Node modules
node_modules/

# Build output
dist/
build/

# Env files
.env
.env.*  # 예: .env.production, .env.development

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor / IDE settings
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# TypeScript
*.tsbuildinfo

# Coverage (e.g. Jest)
coverage/

# Optional: Docker stuff
docker-compose.override.yml

# Optional: Local development certificates
*.pem

